#product-page {
    // padding: ;
    .main-form {
        display: flex;
        flex-direction: column;
        gap: 35px;

        & > div {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        label {
            font-size: 1rem;
        }
    }
}
